div {
    color:black;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
}
#AboutMe:link {
    color:black;
    text-align: center;
    font-weight: bold;
}

#AboutMetitle {
    color:black;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
}